body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 600px;
    margin: auto;

}

p{
    line-height: 1.7em;
}


article + article{
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: 1px gray solid;
}